# 예시:
fastapi
uvicorn
streamlit
requests
transformers
langchain==1.0.8
langchain-huggingface==1.0.1
langchain-community
langchain-huggingface
chromadb
pymupdf4llm
bitsandbytes
accelerate
sentence-transformers
rank_bm25
# ... (실습에 사용된 라이브러리)
